// Colors
$grey: #333333;

// Navigation Colors
$nav-background: $grey;
$nav-text_color: rgb(200, 200, 200);

//Clock Colors
$clock-text-color: white;
$clock-bg-color: #B5D0E2;
$clock-border-color: #2099E8;